<div class="col-12 padding-none">
  {{!Nav bar }}
  {{> navbar}}
  {{!-- validation condition --}}
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
  {{message.message}}
</div>
{{/if}}
<div class="box-dashboard">
  <div class="top-track">
    <h2>Top Track</h2>
    <div class="row mt-5">
      {{> card}}
    </div>
  </div>

  <div class="top-track">
    <h2>Playlist</h2>
    <div class="row mt-5">
      {{#each playlists}}
  <div class="col-md-3">
    <a href="/playlist/{{this.id}}">
      <div class="card" style="width: 15rem;">
        <div class="card-body chg-color">
          <h5 class="card-text">{{this.name}}</h5>
        </div>
      </div>
    </a>
  </div>
{{/each}}
    </div>
  </div>

  <div class="top-track">
    <h2>Artist</h2>
    <div class="row mt-5">
      {{#each artis}}
  <div class="col-md-3">
      <div class="card rounded" style="width: 15rem;">
        <img src="{{this.photo}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-text">{{this.name}}</h5>
        </div>
      </div>
    </a>
  </div>
{{/each}}
    </div>
  </div>
</div>
</div>